<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the   Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">


If you are facing a problem in uploading the dataset (which is a csv file), you can follow the steps below to upload the .sql file instead of the CSV file:

* Download the file <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/Spacex%20.sql">Spacex.sql</a>

* Later click on **SQL** in the  **Go to UI Screen**.

* Use the **From file** option to browse for the **SQL** file and upload it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/sqlfile.png">

* Once you upload the script,you can use the **Run All** option to run all the queries to insert the data.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/runall.png">

In [2]:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
!pip install sqlalchemy==1.3.24
!pip uninstall ipython-sql -y
!pip install ipython-sql==0.4.1

Collecting ibm_db==3.1.0
Collecting ibm_db_sa==0.3.3
Collecting sqlalchemy>=0.7.3 (from ibm_db_sa==0.3.3)
  Using cached https://files.pythonhosted.org/packages/7e/e6/b8ae57def14f0089387fc09ddf72776c521838f43f20d261cb003549761b/SQLAlchemy-2.0.9-cp37-cp37m-win_amd64.whl
Collecting greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))) (from sqlalchemy>=0.7.3->ibm_db_sa==0.3.3)
  Using cached https://files.pythonhosted.org/packages/fa/9a/e0e99a4aa93b16dd58881acb55ac1e2fb011475f2e46cf87843970001882/greenlet-2.0.2-cp37-cp37m-win_amd64.whl
Collecting typing-extensions>=4.2.0 (from sqlalchemy>=0.7.3->ibm_db_sa==0.3.3)
  Using cached https://files.pythonhosted.org/packages/31/25/5abcd82372d3d4a3932e1fa8c3dbf9efac10cc7c0d16e78467460571b404/typing_extensions-4.5.0-py3-none-any.whl
Collecting importlib-metadata; python_version < "3.8" (from sqlalchemy>=0.7.3->ibm_db_sa==0.3.3)
  Using cached https://files.pythonhosted.org/packages/22/b7/c9ccfdce238ebccfa1291f852f96e148ded0bae1ca02aaa003c64893eda8/importlib_metadata-6.2.0-py3-none-any.whl
Collecting zipp>=0.5 (from importlib-metadata; python_version < "3.8"->sqlalchemy>=0.7.3->ibm_db_sa==0.3.3)
  Using cached https://files.pythonhosted.org/packages/5b/fa/c9e82bbe1af6266adf08afb563905eb87cab83fde00a0a08963510621047/zipp-3.15.0-py3-none-any.whl
Installing collected packages: ibm-db, greenlet, typing-extensions, zipp, importlib-metadata, sqlalchemy, ibm-db-sa
  Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
  Found existing installation: greenlet 2.0.2
    Uninstalling greenlet-2.0.2:
      Successfully uninstalled greenlet-2.0.2
  Found existing installation: typing-extensions 4.5.0
    Uninstalling typing-extensions-4.5.0:
      Successfully uninstalled typing-extensions-4.5.0
  Found existing installation: zipp 3.15.0
    Uninstalling zipp-3.15.0:
      Successfully uninstalled zipp-3.15.0
  Found existing installation: importlib-metadata 6.2.0
    Uninstalling importlib-metadata-6.2.0:
      Successfully uninstalled importlib-metadata-6.2.0
  Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
  Found existing installation: ibm-db-sa 0.3.3
    Uninstalling ibm-db-sa-0.3.3:
      Successfully uninstalled ibm-db-sa-0.3.3
Successfully installed greenlet-2.0.2 ibm-db-3.1.0 ibm-db-sa-0.3.3 importlib-metadata-6.2.0 sqlalchemy-2.0.9 typing-extensions-4.5.0 zipp-3.15.0
Collecting sqlalchemy==1.3.24
  Using cached https://files.pythonhosted.org/packages/b4/fc/5795b67a697a067d2a8c31535ed2c14a31b24f0edc97e4df23004d0f5c9d/SQLAlchemy-1.3.24-cp37-cp37m-win_amd64.whl
Installing collected packages: sqlalchemy
  Found existing installation: SQLAlchemy 2.0.9
    Uninstalling SQLAlchemy-2.0.9:
      Successfully uninstalled SQLAlchemy-2.0.9
Successfully installed sqlalchemy-1.3.24
Uninstalling ipython-sql-0.4.1:
  Successfully uninstalled ipython-sql-0.4.1
Collecting ipython-sql==0.4.1
  Using cached https://files.pythonhosted.org/packages/f3/e4/39dff0f3d426d2aab04fba6f10edf57567656dbd9f760f097f4fd56de204/ipython_sql-0.4.1-py3-none-any.whl
Requirement already satisfied: sqlparse in c:\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (0.4.3)
Requirement already satisfied: ipython>=1.0 in c:\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (7.4.0)
Requirement already satisfied: six in c:\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (1.12.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (1.3.24)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: traitlets>=4.2 in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.3.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.4.1)
Requirement already satisfied: decorator in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.0)
Requirement already satisfied: jedi>=0.10 in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.13.3)
Requirement already satisfied: pygments in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.3.1)
Requirement already satisfied: pickleshare in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.0.9)
Requirement already satisfied: setuptools>=18.5 in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (40.8.0)
Requirement already satisfied: backcall in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.0)
Requirement already satisfied: parso>=0.3.0 in c:\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql==0.4.1) (0.3.4)
Requirement already satisfied: wcwidth in c:\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Installing collected packages: ipython-sql
Successfully installed ipython-sql-0.4.1

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%load_ext sql

C:\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)




**DB2 magic in case of  UI service credentials.**



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width="600">  

* Use the following format.

* Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [ ]:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL

In [4]:
%sql ibm_db_sa://cqp79093:RCGVI2LNdrfD6nXn@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb?security=SSL

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [115]:
%sql SELECT distinct launch_site FROM SPACEX

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [11]:
%sql SELECT * FROM SPACEX WHERE launch_site LIKE '%CCA%' LIMIT 5

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(datetime.date(2010, 6, 4), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [119]:
%sql select sum(payload_mass_kg_) as total_payload_mass from SPACEX group by customer = 'NASA(CRS)'

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(619967,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [120]:
%sql SELECT AVG(payload_mass_kg_) as average_payload_mass from SPACEX where booster_version LIKE '%F9 v1.1%'

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(2534,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [114]:
%sql SELECT MIN(DATE) as date_first_successful_landing from SPACEX WHERE landing_outcome LIKE '%Success%'

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [47]:
%sql SELECT booster_version FROM SPACEX WHERE payload_mass_kg_ > 4000 AND payload_mass_kg_ < 6000 ;

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1016',),
 ('F9 FT B1020',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT B1030',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1032.1',),
 ('F9 B4 B1040.1',),
 ('F9 FT  B1031.2',),
 ('F9 B4 B1043.1',),
 ('F9 FT  B1032.2',),
 ('F9 B4  B1040.2',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5B1054',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1051.2',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2',),
 ('F9 B5B1062.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [122]:
%sql SELECT mission_outcome, COUNT(*) as Failure_And_Success FROM SPACEX  GROUP BY mission_outcome

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [125]:
%sql SELECT booster_version as booster_versions, (SELECT MAX(payload_mass_kg_) from SPACEX ) as maximum_payload_mass from SPACEX

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[('F9 v1.0  B0003', 15600),
 ('F9 v1.0  B0004', 15600),
 ('F9 v1.0  B0005', 15600),
 ('F9 v1.0  B0006', 15600),
 ('F9 v1.0  B0007', 15600),
 ('F9 v1.1  B1003', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1 B1011', 15600),
 ('F9 v1.1 B1010', 15600),
 ('F9 v1.1 B1012', 15600),
 ('F9 v1.1 B1013', 15600),
 ('F9 v1.1 B1014', 15600),
 ('F9 v1.1 B1015', 15600),
 ('F9 v1.1 B1016', 15600),
 ('F9 v1.1 B1018', 15600),
 ('F9 FT B1019', 15600),
 ('F9 v1.1 B1017', 15600),
 ('F9 FT B1020', 15600),
 ('F9 FT B1021.1', 15600),
 ('F9 FT B1022', 15600),
 ('F9 FT B1023.1', 15600),
 ('F9 FT B1024', 15600),
 ('F9 FT B1025.1', 15600),
 ('F9 FT B1026', 15600),
 ('F9 FT B1029.1', 15600),
 ('F9 FT B1031.1', 15600),
 ('F9 FT B1030', 15600),
 ('F9 FT  B1021.2', 15600),
 ('F9 FT B1032.1', 15600),
 ('F9 FT B1034', 15600),
 ('F9 FT B1035.1', 15600),
 ('F9 FT  B1029.2', 15600),
 ('F9 FT B1036.1', 15600),
 ('F9 FT B1037', 15600),
 ('F9 B4 B1039.1', 15600),
 ('F9 FT B1038.1', 15600),
 ('F9 B4 B1040.1', 15600),
 ('F9 B4 B1041.1', 15600),
 ('F9 FT  B1031.2', 15600),
 ('F9 B4 B1042.1', 15600),
 ('F9 FT  B1035.2', 15600),
 ('F9 FT  B1036.2', 15600),
 ('F9 B4 B1043.1', 15600),
 ('F9 FT  B1032.2', 15600),
 ('F9 FT  B1038.2', 15600),
 ('F9 B4 B1044', 15600),
 ('F9 B4  B1041.2', 15600),
 ('F9 B4  B1039.2', 15600),
 ('F9 B4 B1045.1', 15600),
 ('F9 B5  B1046.1', 15600),
 ('F9 B4  B1043.2', 15600),
 ('F9 B4  B1040.2', 15600),
 ('F9 B4 B1045.2', 15600),
 ('F9 B5B1047.1', 15600),
 ('F9 B5B1048.1', 15600),
 ('F9 B5 B1046.2', 15600),
 ('F9 B5B1049.1', 15600),
 ('F9 B5 B1048.2', 15600),
 ('F9 B5 B1047.2', 15600),
 ('F9 B5 B1046.3', 15600),
 ('F9 B5B1050', 15600),
 ('F9 B5B1054', 15600),
 ('F9 B5 B1049.2', 15600),
 ('F9 B5 B1048.3', 15600),
 ('F9 B5B1051.1', 15600),
 ('F9 B5B1056.1', 15600),
 ('F9 B5 B1049.3', 15600),
 ('F9 B5 B1051.2', 15600),
 ('F9 B5 B1056.2', 15600),
 ('F9 B5 B1047.3', 15600),
 ('F9 B5 B1048.4', 15600),
 ('F9 B5B1059.1', 15600),
 ('F9 B5 B1056.3', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1046.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1059.2', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5B1058.1', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1059.3', 15600),
 ('F9 B5B1060.1', 15600),
 ('F9 B5 B1058.2', 15600),
 ('F9 B5 B1051.5', 15600),
 ('F9 B5 B1049.6', 15600),
 ('F9 B5 B1059.4', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5B1062.1', 15600),
 ('F9 B5B1061.1', 15600),
 ('F9 B5B1063.1', 15600),
 ('F9 B5 B1049.7', 15600),
 ('F9 B5 B1058.4', 15600)]

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [105]:
%sql SELECT DATE, landing_outcome AS failed_landing_outcome, booster_version, launch_site from SPACEX WHERE landing_outcome LIKE '%Failure%' AND DATE LIKE '%2015%'

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(datetime.date(2015, 1, 10), 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 (datetime.date(2015, 4, 14), 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [135]:
%sql SELECT landing_outcome, count(*) as count_landing_outcomes from SPACEX \
where date between '2010-06-04' and '2017-03-20' \
group by landing_outcome \
order by count_landing_outcomes desc;

 * ibm_db_sa://cqp79093:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-10-12 | 0.4 |Lakshmi Holla | Changed markdown|
| 2021-08-24 | 0.3 |Lakshmi Holla | Added library update|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>